          {{# if name}}
            <h1>{{name}}</h1>
          {{/if}}
          {{# if class}}
            <div class="class">Class: {{class}}</div>
          {{/if}}
          
          {{#each extends}}
            <div class="extend">Mixes In: {{this}}</div>
          {{/each}}

          {{{description.description.full}}}

          {{#if examples}}
            <h2>Examples</h2>
            {{#each examples}}
              <h3>Example: {{name}}</h3>
              <div>
                {{{example}}}
              </div>
            {{/each}}
          {{/if}}

          {{{constructer}}}

          {{{functions}}}

          {{{properties}}}
          
          {{{events}}}