          <h1>{{name}}</h1>
          <div class="class">File Name: {{name}}</div>

          {{#each extends}}
            <div class="extend">Mixes In: {{.}}</div>
          {{/each}}

          {{{description}}}

          {{#if examples}}
            <h2>Examples</h2>
            {{#each examples}}
              <h3>Example: {{name}}</h3>
              <div>
                {{{example}}}
              </div>
            {{/each}}
          {{/if}}

          {{{constructors}}}

          {{{functions}}}

          {{{properties}}}
          
          {{{events}}}